<template>
  <v-app>
    <v-app-bar  color="#37bc9b" dark fixed app>
      <v-layout justify-space-between>
        <v-layout align-center>
          <v-toolbar-title>Application</v-toolbar-title>
        </v-layout>
        
        <v-layout align-center justify-end>
          <v-select
                    color="rgba(0,0,0,.12)"
                    flat
                    menu-props="auto"
                    hide-details
                    prepend-icon="language"
                    single-line
                    style="max-width:200px"
                    class="mr-2"
                    @change="changeLanguage"
                    v-model="lang"
                    :items="languages"
          ></v-select>
          
          <div class="mx-4" v-if="user">
             {{user.email}}
          </div>
          <v-btn
            icon
            v-if="user"
            @click.prevent="logout"
            dark
          >
            <v-icon>logout</v-icon>
          </v-btn>
        </v-layout>
      </v-layout>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <template>
          <router-view/>
        </template>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
   
  
    export default {
        data: () => ({
            lang: 'ru',
            languages: [
                {
                    value: 'en',
                    text: 'English'
                },
                {
                    value: 'ru',
                    text: 'Русский'
                }
            ]
        }),
        async mounted(){
            const lang = localStorage.getItem('lang');
            this.lang = lang;
            this.$validator.locale = this.lang;
            this.user = await this.getUser();
        },
        computed:{
            user:{
                get(){
                    return this.$store.getters.getAuthUser;
                },
                set(val){
                    this.$store.commit('setAuthUser', val);
                },
            }
        },
        methods: {
           getUser(){
                if (!localStorage.getItem('token')){
                    return false;
                }
                let getUser = this.$store.getters.getAuthUser;
                if (getUser.length > 0 ){
                    return  getUser;
                }
                return this.getMe();
            },
            async getMe() {
                let {data} = await this.$request.get(`user/me`);

                if (!data.status){
                    return this.$route.push('/login');
                }
              
                return data.data;
            },
            logout() {
                localStorage.removeItem('token');
                this.user = false;
                this.$router.push('/login');
            },
            changeLanguage() {
                localStorage.setItem('lang', this.lang);
                this._i18n.locale = this.lang
                this.$validator.locale = this.lang
            }
        }
    };
</script>

<style>
  @import "assets/style.css";
</style>
