<template>
  <div v-if="!auth">
    <v-content>
      <v-container fill-height="fill-height">
        <v-layout align-center="align-center" justify-center="justify-center">
          <v-flex class="text-xs-center" style="max-width: 350px">
            <div class="display-1 mb-3">
              <v-layout align-center justify-center>
                <span class="form__title text-xl">{{$t('titles.login')}}</span>
                <!-- <v-icon class="mr-2" large="large">work</v-icon>-->
              </v-layout>
            </div>
            <v-card light="light">
              <v-card-text>
                <v-layout justify-center v-if="entrancing">
                  <v-progress-circular
                    indeterminate
                    color="#37bc9b"
                  ></v-progress-circular>
                </v-layout>
                <v-form v-if="!entrancing">
                  <form id="uploadForm">
                    <v-text-field
                      color="#37bc9b"
                      :label="$t('form.email')"
                      type="email"
                      v-model="email"
                      light="light"
                      prepend-icon="person"
                      v-validate="'email'"
                      name="email"
                      :error-messages="errors.first('email')"
                    ></v-text-field>
                    <v-text-field
                      color="#37bc9b"
                      class="mb-2"
                      :type="show_pass ? 'text' : 'password'"
                      :append-icon="show_pass ? 'visibility' : 'visibility_off'"
                      @click:append="show_pass = !show_pass"
                      label="Ваш пароль"
                      v-model="password"
                      light="light"
                      prepend-icon="lock"
                      min="3"
                      name="password"
                      v-validate="'min:6'"
                      :error-messages="errors.first('password')"
                      :label="$t('form.password')"
                      required
                    ></v-text-field>
                    
                    <v-alert
                      :value="true"
                      v-show="has_error"
                      type="error"
                    >
                      <span v-for="error of serverErrors">
                         {{error}}
                      </span>
                    </v-alert>
                    
                    <v-btn
                      @click="signin"
                      block="block"
                      color="#37bc9b"
                      class="white--text"
                      :disabled="disableButton"
                      v-show="!has_error"
                    >{{$t('titles.login')}}
                    </v-btn>
                    <v-layout justify-center class="pt-3">
                      <span @click="$router.push('/register')" class="form__text">{{$t('titles.register')}}</span>
                    </v-layout>
                  </form>
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>

    import axios from 'axios';

    export default {
        mounted() {
            let token = localStorage.getItem('token');
            if (token) {
                this.$router.push('/');
            }
        },
        data() {
            return {
                show_pass: false,
                auth: false,
                has_error: false,
                entrancing: false,
                disableButton: true,
                email: "",
                password: "",
                serverErrors: [],
            };
        },

        computed: {
            formErrors() {
                const errors = this.$validator.errors;
                return errors;
            },
        },

        watch: {
            formErrors: {
                handler(value) {
                    this.disableButton = value.items.length > 0 || this.email.length === 0 || this.password.length === 0;
                    return this.$emit('form-errors', value);
                },

                deep: true
            },
        },

        methods: {
            async signin() {
                this.entrancing = true;
                const formData = new FormData(document.getElementById('uploadForm'));
                let {data} = await this.$request.post('user/login', formData);
                if (!data.status) {
                    this.serverErrors = data.errors;
                    this.has_error = true;
                    setTimeout(() => {
                        this.has_error = false;
                        this.password = "";
                    }, 2000);
                    this.entrancing = false;
                    return false;
                }
                localStorage.setItem('token', data.data.token);
                this.$store.commit('setAuthUser', data.data);
                this.$router.push('/');
            }
        }
    };
</script>
