<template>
    <v-layout justify-center align-center style="min-height: 100%">
        <div>
            <span class="text__404">404</span>
            <v-layout justify-center>
                <v-btn @click="$router.push('/')">back Home</v-btn>
            </v-layout>
        </div>
    </v-layout>
</template>
<script>
    export default {
        //
    }
</script>
<style scoped>
    .text__404{
        font-size: 70px;
    }
</style>

