<template>
  <v-layout justify-center>
    <v-card
      width="1200"
      class="mx-auto"
    >
      <v-layout>
        <v-layout xs2 align-self-start>
          <v-list-item-avatar
            width="100"
            height="100"
            color="grey"
            class="mx-auto"
          >
            <v-img v-if="user.avatar"
                   :src="user.avatar"
            ></v-img>
          </v-list-item-avatar>
        </v-layout>
        <v-flex xs10>
          <v-card-text>
            <div class="font-weight-bold">{{$t('proffile.name')}}</div>
            {{user.name}}
          </v-card-text>
          <v-card-text>
            <div class="font-weight-bold">{{$t('proffile.email')}}</div>
            {{user.email}}
          </v-card-text>
          <v-card-text>
            <div class="font-weight-bold">{{$t('proffile.about')}}</div>
            {{user.about}}
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-card>
  </v-layout>
</template>
<script>
    export default {
        
        data:() => ({
            user:{}
        }),
        async mounted() {
            let token = localStorage.getItem('token');
            if (!token) {
                this.$router.push('login');
            }
            this.user = await this.getMe();
        },
        methods:{
            async getMe() {
                let {data} = await this.$request.get(`user/me`);

                if (!data.status){
                    return this.$route.push('/login');
                }

                return data.data;
            },
        }
    };
</script>
<style scoped>

</style>

