<template>
    <div v-if="!auth">
        <v-content>
            <v-container fill-height="fill-height">
                <v-layout align-center="align-center" justify-center="justify-center">
                    <v-flex class="text-xs-center" style="max-width: 350px">
                        <div class="display-1 mb-3">
                            <v-layout align-center justify-center>
                                <span class="form__title text-xl">{{$t("titles.register")}}</span>
                                <!-- <v-icon class="mr-2" large="large">work</v-icon>-->
                            </v-layout>
                        </div>
                        <v-card light="light">
                            <v-card-text>
                                <v-layout align-center justify-center v-if="entrancing">
                                    <v-progress-circular
                                            indeterminate
                                            color="#37bc9b"
                                    ></v-progress-circular>
                                </v-layout>
                                <v-form v-if="!entrancing">
                                  <form id="uploadForm" enctype="multipart/form-data">
                                    <v-text-field
                                            color="#37bc9b"
                                            :label="$t('form.email')"
                                            type="email"
                                            v-model="email"
                                            light="light"
                                            prepend-icon="mail"
                                            v-validate="'email'"
                                            name="email"
                                            :error-messages="errors.first('email')"
                                    ></v-text-field>
                                    <v-text-field
                                            color="#37bc9b"
                                            :label="$t('form.name')"
                                            v-model="name"
                                            light="light"
                                            prepend-icon="person"
                                            v-validate="'required'"
                                            name="name"
                                            :error-messages="errors.first('name')"
                                    ></v-text-field>
                                    <v-textarea
                                            color="#37bc9b"
                                            :label="$t('form.about')"
                                            v-model="about"
                                            light="light"
                                            prepend-icon="note"
                                            v-validate="'required'"
                                            name="about"
                                            :error-messages="errors.first('about')"
                                    ></v-textarea>
                                    <v-text-field
                                            @click:append="show_pass = !show_pass"
                                            ref="password"
                                            :type="show_pass ? 'text' : 'password'"
                                            :append-icon="show_pass ? 'visibility' : 'visibility_off'"
                                            color="#37bc9b"
                                            class="mb-2"
                                            :label="$t('form.password')"
                                            v-model="password"
                                            light="light"
                                            prepend-icon="lock"
                                            min="6"
                                            name="password"
                                            v-validate="'min:6'"
                                            :error-messages="errors.first('password')"
                                            required
                                    ></v-text-field>
                                    <v-text-field
                                            color="#37bc9b"
                                            class="mb-2"
                                            :label="$t('form.password_confirmation')"
                                            v-model="password_confirmation"
                                            light="light"
                                            prepend-icon="lock"
                                            min="6"
                                            :type="show_pass ? 'text' : 'password'"
                                            name="password_confirmation"
                                            :show="true"
                                            v-validate="'confirmed:password'"
                                            :error-messages="errors.first('password_confirmation')"
                                            required
                                    ></v-text-field>
                                  <v-file-input
                                    v-model="file"
                                    color="#37bc9b"
                                    accept="image/*"
                                    :label="$t('form.avatar')"
                                    :readonly="false"
                                   :id="'file'"
                                  ></v-file-input>
  
                                    <v-alert
                                      :value="true"
                                      v-show="has_error"
                                      type="error"
                                    >
                                       <span v-for="error of serverErrors">
                                         {{error}}
                                       </span>
                                    </v-alert>
                                    <v-btn @click="register"
                                           block="block"
                                           color="#37bc9b"
                                           class="white--text"
                                           :disabled="disableButton"
                                           v-show="!has_error"
                                    >{{$t("titles.register")}}
                                    </v-btn>
                                    <v-layout justify-center class="pt-3">
                                      <span @click="$router.push('/login')"
                                            class="form__text">
                                        {{$t("titles.login")}}
                                      </span>
                                    </v-layout>
                              </form>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </div>
</template>

<script>


    export default {
        mounted() {
            let token = localStorage.getItem('token');
            if (token) {
                this.$router.push('/');
            }
        },
        data() {
            return {
                show_pass: false,
                auth: false,
                has_error: false,
                entrancing: false,
                disableButton: true,
                name: "",
                email: "",
                password: "",
                about: "",
                password_confirmation: "",
                file: [],
                serverErrors: []
            };
        },

        computed: {
            formErrors() {
                const errors = this.$validator.errors;
                return errors;
            },
        },

        watch: {
            formErrors: {
                handler(value) {
                    this.disableButton = value.items.length > 0
                        || this.email.length === 0
                        || this.password.length === 0
                        || this.about.length === 0
                        || this.name.length === 0
                        || this.password_confirmation !== this.password;

                    return this.$emit('form-errors', value);
                },

                deep: true
            },
        },

        methods: {
            async register() {
                const formData = new FormData(document.getElementById('uploadForm'));
              
                formData.append('file', this.file);
                this.entrancing = true;
                let {data} = await this.$request.post('user/register', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                });
                if (!data.status) {
                    this.serverErrors = data.errors;
                    this.has_error = true;
                    setTimeout(() => {
                        this.has_error = false;
                        this.password = "";
                        this.password_confirmation = "";
                    }, 2000);
                    this.entrancing = false;
                    return false;
                }
                localStorage.setItem('token',data.data.token);
                this.$store.commit('setAuthUser', data.data);
                this.$router.push('/');
            }
        }
    };
</script>
